<html>

<head>

    <title>

        {%block title%} {%endblock%}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </title>

</head>

<body>
    <h1 style="background-color: rgb(179, 157, 219); color: white; text-align: center;">Proyecto Final</h1>

    {#{% include "TiendaEquipo/superior/barra.html" %}#}
    
    <h3 style="background-color: 149, 117, 205; color: white;">Tienda de Informática</h3>

    {% block content%} {% endblock%}

    <p style="background-color: rgb(179, 157, 219); color: white; text-align: right;">Gracias por su Visita</p>
</body>

</html>