{% extends 'TiendaEquipo/base.html' %}
{% load static %}

{% block title %} Clientes {% endblock %}

{% block javascript %}
<script src="{% static 'TiendaEquipo/js/textfield.js' %}"></script>
<script src="{% static 'TiendaEquipo/js/upload_file.js' %}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'TiendaEquipo/css/upload_file.css' %}">
    <link rel="stylesheet" href="{% static 'TiendaEquipo/css/date_field.css' %}">
{% endblock %}

{% block contenido %}
<section class="full-width header-well">
    <div class="full-width header-well-icon">
        <i class="zmdi zmdi-truck"></i>
    </div>
    <div class="full-width header-well-text">
        <p class="text-condensedLight">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde aut nulla accusantium minus corporis accusamus fuga harum natus molestias necessitatibus.
        </p>
    </div>
</section>
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#tabNewProvider" class="mdl-tabs__tab is-active">NEW</a>
        <a href="#tabListProvider" class="mdl-tabs__tab">LIST</a>
    </div>
    <div class="mdl-tabs__panel is-active" id="tabNewProvider">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="full-width panel mdl-shadow--2dp">
                    <div class="full-width panel-tittle bg-primary text-center tittles">
                        New Provider
                    </div>
                    <div class="full-width panel-content">
                        <form>
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col">
                                    <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; DATOS DEL PROVEEDOR</legend><br>
                                </div>
                                <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="IDProvider">
                                        <label class="mdl-textfield__label" for="IDProvider">ID Proveedor</label>
                                        <span class="mdl-textfield__error">Invalid number</span>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" pattern="-?[A-Za-z0-9 ]*(\.[0-9]+)?" id="NameProvider">
                                        <label class="mdl-textfield__label" for="NameProvider">Nombre</label>
                                        <span class="mdl-textfield__error">Invalid name</span>
                                    </div>
                                </div>
                                
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" pattern="-?[A-Za-z0-9 ]*(\.[0-9]+)?" id="LastnameProvider">
                                        <label class="mdl-textfield__label" for="lastnameProvider">Apellido</label>
                                        <span class="mdl-textfield__error">Invalid last name</span>
                                    </div>
                                </div>
                                
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="tel" pattern="-?[0-9+()- ]*(\.[0-9]+)?" id="phoneProvider">
                                        <label class="mdl-textfield__label" for="phoneProvider">Numero Telefonico</label>
                                        <span class="mdl-textfield__error">Invalid phone number</span>
                                    </div>
                                </div>

                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="tel" pattern="-?[0-9+()- ]*(\.[0-9]+)?" id="nitProvider">
                                        <label class="mdl-textfield__label" for="nitProvider">Nit</label>
                                        <span class="mdl-textfield__error">Invalid nit</span>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="email" id="tproductoProvider">
                                        <label class="mdl-textfield__label" for="tproductoProvider">Tipo Producto</label>
                                        <span class="mdl-textfield__error">Invalid Type product</span>
                                    </div>
                                </div>

                                <div class="mdl-cell mdl-cell--12-col">
                                    <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; TIPOS DE PRODUCTOS</legend><br>
                                </div>	
                                
                                                                    
                                <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" pattern="-?[A-Za-z0-9 ]*(\.[0-9]+)?" id="TipoEscritorio">
                                        <label class="mdl-textfield__label" for="TipoEscritorio">Escritorio</label>
                                        <span class="mdl-textfield__error">Invalid</span>
                                    </div>
                                </div>	

                                <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" pattern="-?[A-Za-z0-9 ]*(\.[0-9]+)?" id="TipoNotebook">
                                        <label class="mdl-textfield__label" for="TipoNotebook">NoteBook</label>
                                        <span class="mdl-textfield__error">Invalid</span>
                                    </div>
                                </div>	
                            
                                <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" pattern="-?[A-Za-z0-9 ]*(\.[0-9]+)?" id="TipoComponentes">
                                        <label class="mdl-textfield__label" for="TipoComponentes">Componentes</label>
                                        <span class="mdl-textfield__error">Invalid</span>
                                    </div>
                                </div>											

                            </div>
                            <p class="text-center">
                                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-addProvider">
                                    <i class="zmdi zmdi-plus"></i>
                                </button>
                                <div class="mdl-tooltip" for="btn-addProvider">Add provider</div>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-tabs__panel" id="tabListProvider">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
                <div class="full-width panel mdl-shadow--2dp">
                    <div class="full-width panel-tittle bg-success text-center tittles">
                        List Providers
                    </div>
                    <div class="full-width panel-content">
                        <form action="#">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                                <label class="mdl-button mdl-js-button mdl-button--icon" for="searchProvider">
                                    <i class="zmdi zmdi-search"></i>
                                </label>
                                <div class="mdl-textfield__expandable-holder">
                                    <input class="mdl-textfield__input" type="text" id="searchProvider">
                                    <label class="mdl-textfield__label"></label>
                                </div>
                            </div>
                        </form>
                        <div class="mdl-list">
                            <div class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content">
                                    <i class="zmdi zmdi-truck mdl-list__item-avatar"></i>
                                    <span>1. Provider name</span>
                                    <span class="mdl-list__item-sub-title">DNI</span>
                                </span>
                                <a class="mdl-list__item-secondary-action" href="#!"><i class="zmdi zmdi-more"></i></a>
                            </div>
                            <li class="full-width divider-menu-h"></li>
                            <div class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content">
                                    <i class="zmdi zmdi-truck mdl-list__item-avatar"></i>
                                    <span>2. Provider name</span>
                                    <span class="mdl-list__item-sub-title">DNI</span>
                                </span>
                                <a class="mdl-list__item-secondary-action" href="#!"><i class="zmdi zmdi-more"></i></a>
                            </div>
                            <li class="full-width divider-menu-h"></li>
                            <div class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content">
                                    <i class="zmdi zmdi-truck mdl-list__item-avatar"></i>
                                    <span>3. Provider name</span>
                                    <span class="mdl-list__item-sub-title">DNI</span>
                                </span>
                                <a class="mdl-list__item-secondary-action" href="#!"><i class="zmdi zmdi-more"></i></a>
                            </div>
                            <li class="full-width divider-menu-h"></li>
                            <div class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content">
                                    <i class="zmdi zmdi-truck mdl-list__item-avatar"></i>
                                    <span>4. Provider name</span>
                                    <span class="mdl-list__item-sub-title">DNI</span>
                                </span>
                                <a class="mdl-list__item-secondary-action" href="#!"><i class="zmdi zmdi-more"></i></a>
                            </div>
                            <li class="full-width divider-menu-h"></li>
                            <div class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content">
                                    <i class="zmdi zmdi-truck mdl-list__item-avatar"></i>
                                    <span>5. Provider name</span>
                                    <span class="mdl-list__item-sub-title">DNI</span>
                                </span>
                                <a class="mdl-list__item-secondary-action" href="#!"><i class="zmdi zmdi-more"></i></a>
                            </div>
                            <li class="full-width divider-menu-h"></li>
                            <div class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content">
                                    <i class="zmdi zmdi-truck mdl-list__item-avatar"></i>
                                    <span>6. Provider name</span>
                                    <span class="mdl-list__item-sub-title">DNI</span>
                                </span>
                                <a class="mdl-list__item-secondary-action" href="#!"><i class="zmdi zmdi-more"></i></a>
                            </div>
                            <li class="full-width divider-menu-h"></li>
                            <div class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content">
                                    <i class="zmdi zmdi-truck mdl-list__item-avatar"></i>
                                    <span>7. Provider name</span>
                                    <span class="mdl-list__item-sub-title">DNI</span>
                                </span>
                                <a class="mdl-list__item-secondary-action" href="#!"><i class="zmdi zmdi-more"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}