<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap Real Estate Website Template</title>
<link rel="stylesheet" href="{% static 'TiendaEquipo/css/bootstrap.css' %}">
</head>
<body>
<div class="container">
    <div class="row">
  <div class="container">
    <table width="685" height="269" border="0">
      <tbody>
        <tr>
          <td rowspan="2"><h1 class="text-center text-capitalize"><img src="{% static 'TiendaEquipo/assets/img/Isologo.png' %}" width="198" height="132" alt=""/></h1>          <h4 class="text-center text-capitalize">&nbsp;</h4></td>
          <td height="77"><h1 class="text-center text-capitalize"><em><strong>MEGA COMPUTADORAS S.A.</strong></em></h1>
            <h5 class="text-center"><em><strong>SOMOS UNA EMPRESA LIDER EN INNOVACION DE PRODUCTOS TECNOLOGICOS</strong></em></h5>
            <h6 class="text-center"><em><strong>3ra av. 5-53 zona 3 Chimaltenango</strong></em></h6>
            <h6 class="text-center"><em><strong>Tel: 7839-4420</strong></em></h6>
            <h6 class="text-center"><strong><em>Nit: 274476-8</em></strong></h6></td>
          </tr>
        <tr> </tr>
        <tr>
          <td width="223" height="44">&nbsp;</td>
          <td width="530"><h4>No. Factura : </h4></td>
        </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <table width="683" height="104" border="0">
      <tbody>
        <tr>
          <td width="129" height="96">
            <h5 class="text-capitalize"><em><strong>Nombre: {{ ventas.cliente }}</strong></em></h5>
            <h5 class="text-capitalize"><em><strong>Dirección: {{ direccion }}</strong></em></h5>
            <h5 class="text-capitalize"><em><strong>Nit: {{ nit }}</strong></em></h5>
            <h5 class="text-capitalize"><em><strong>Fecha: {{ ventas.fecha }}</strong></em></h5>
            <h5 class="text-capitalize"><em><strong>Tipo de Pago: {{ ventas.pago }}</strong></em></h5>
          </td>
          <td width="413">&nbsp;</td>
          <td width="127"><h4 class="text-center"><em><strong>Sujeto a pagos trimestrales </strong></em></h4></td>
        </tr>
      </tbody>
    </table>
    <p>&nbsp;</p>
    <table width="683" height="330" border="1">
      <tbody>
        <tr>
          <td width="188" bgcolor="#F08419"><h4 class="text-center text-capitalize"><em><strong>Codigo Venta</strong></em></h4></td>
          <td width="189" bgcolor="#F08419"><h4 class="text-center text-capitalize"><em><strong>Descripción</strong></em></h4></td>
          <td width="189" bgcolor="#F08419"><h4 class="text-capitalize text-center"><em><strong>Cantidad</strong></em></h4></td>
          <td width="189" bgcolor="#F08419"><h4 class="text-center text-capitalize"><em><strong>Precio</strong></em></h4></td>
          <td width="170" bgcolor="#F08419"><h4 class="text-center text-capitalize"><em><strong>Total</strong></em></h4></td>
        </tr>
        <tr>
          <td height="41" class="text-center">{{ ventas.numeroVenta }}</td>
          <td class="text-center">{{ ventas.producto }}</td>
          <td class="text-center">{{ ventas.cantidad }}</td>
          <td class="text-center">Q.{{ precio }}</td>
          <td class="text-center">Q.{{ ventas.total }}</td>
        </tr>
        <tr>
          <td height="47">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td height="44">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td height="45">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td height="47">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td height="45">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="text-center">Q.{{ ventas.total }}</td>
        </tr>
      </tbody>
  </table>
    <p>&nbsp;</p>
    <p>Copyright © &nbsp;Todos los derechos reservados MEGA COMPUTADORAS S.A..</p>
    <h4 class="text-center text-capitalize">&nbsp;</h4>
  </div>
  </div>
</div>
<footer class="text-center">
    <div class="container">
      <div class="row">
        <div> </div>
      </div>
    </div>
</footer>
<script src="{% static 'TiendaEquipo/js/jquery-1.11.3.min.js' %}"></script> 
<script src="{% static 'TiendaEquipo/js/bootstrap.js' %}"></script>
</body>
</html>