<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Factura</title>
<link rel="stylesheet" href="{% static 'TiendaEquipo/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'TiendaEquipo/css/boton_personalizado.css' %}">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="container">
      <table width="685" height="269" border="0">
        <tbody>
          <tr>
            <td rowspan="2"><h1 class="text-center text-capitalize"><img src="{% static 'TiendaEquipo/assets/img/Isologo.png' %}" width="198" height="132" alt=""/></h1>          <h4 class="text-center text-capitalize">&nbsp;</h4></td>
            <td height="77"><h1 class="text-center text-capitalize"><em><strong>MEGA COMPUTADORAS S.A.</strong></em></h1>
              <h5 class="text-center"><em><strong>SOMOS UNA EMPRESA LIDER EN INNOVACION DE PRODUCTOS TECNOLOGICOS</strong></em></h5>
              <h6 class="text-center"><em><strong>3ra av. 5-53 zona 3 Chimaltenango</strong></em></h6>
              <h6 class="text-center"><em><strong>Tel: 7839-4420</strong></em></h6>
              <h6 class="text-center"><strong><em>Nit: 274476-8</em></strong></h6></td>
            </tr>
          <tr> </tr>
          <tr>
            <td width="223" height="44">&nbsp;</td>
            <td width="530"><h4> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;No. Factura : {{ numero }}</h4></td>
          </tr>
          </tbody>
      </table>
      <p>&nbsp;</p>
      <table width="683" height="104" border="0">
        <tbody>
          <tr>
            <td width="353" height="96"><h5 class="text-capitalize"><em><strong>Nombre:</strong> {{ ventas.cliente }}</em></h5>
              <h5 class="text-capitalize"><em><strong>Dirección:</strong> {{ direccion }}</em></h5>
              <h5 class="text-capitalize"><em><strong>Nit:</strong> {{ nit }}</em></h5></td>
              <h5 class="text-capitalize"><em><strong>Fecha:</strong> {{ ventas.fecha }}</em></h5>
            <td width="189">&nbsp;</td>
            <td width="127"><h4 class="text-center"><em><strong>Sujeto a pagos trimestrales </strong></em></h4></td>
          </tr>
        </tbody>
      </table>
      <p>&nbsp;</p>
      <table width="683" height="330" border="1">
        <tbody>
          <tr>
          <div>
            <td width="188" bgcolor="#2e6da4"><h4 class="text-center text-capitalize"><em><strong><font color="#F8F8F8">Código Venta</font></strong></em></h4></td>
            <td width="189" bgcolor="#2e6da4"><h4 class="text-center text-capitalize"><em><strong><font color="#FFFFFF">Descripción</font></strong></em></h4></td>
            <td width="189" bgcolor="#2e6da4"><h4 class="text-capitalize text-center"><em><strong><font color="#FFFFFF">Cantidad</font></strong></em></h4></td>
            <td width="189" bgcolor="#2e6da4"><h4 class="text-center text-capitalize"><em><strong><font color="#FFFFFF">Precio</font></strong></em></h4></td>
          </div>
            </tr>
          <tr>
            <td height="41" class="text-center">{{ ventas.numeroVenta }}</td>
            <td class="text-center">{{ ventas.producto }}</td>
            <td class="text-center">{{ ventas.cantidad }}</td>
            <td class="text-center">Q.{{ precio }}</td>
            </tr>
          <tr>
            <td height="47">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
          <tr>
            <td height="44">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
          <tr>
            <td height="45">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
          <tr>
            <td height="47">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
          <tr>
            <td height="45" colspan="3" bgcolor="#ffc107"><h4 class="text-center text-capitalize"><strong><em>Total</em></strong></h4></td>
            <td><strong><center>Q.{{ ventas.total }}</center></strong></td>
            </tr>
        </tbody>
    </table>
      <p>&nbsp;</p>
      <p>
      Copyright © &nbsp;Todos los derechos reservados MEGA COMPUTADORAS S.A..  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

            
      <button type="button" onclick="javascript:window.print()" class="boton_personalizado" >Imprimir</button></p>
      <h4 class="text-center text-capitalize">&nbsp;</h4>
    </div>
  </div>
</div>
<footer class="text-center">
    <div class="container">
      <div class="row">
        <div> </div>
      </div>
    </div>
</footer>
<script src="{% static 'TiendaEquipo/js/jquery-1.11.3.min.js' %}"></script> 
<script src="{% static 'TiendaEquipo/js/bootstrap.js' %}"></script>
</body>
</html>