{% extends 'TiendaEquipo/base.html' %}
{% load static %}

{% block title %} Inicio {% endblock %}

{% block contenido %}
<section class="full-width text-center" style="padding: 40px 0;">
	<h3 class="text-center tittles">Inicio</h3>
        <!-- Tiles -->
        <article class="full-width tile">
            <a href="{% url 'lista_clientes'%}">
                <div class="tile-text">
                    <span class="text-condensedLight">
                        {{ clientes|length }}<br>
                        <small>Clientes</small>
                    </span>
                </div>
                <i class="zmdi zmdi-accounts-alt tile-icon"></i>
            </a>
        </article>
        <article class="full-width tile">
            <a href="{% url 'proveedores'%}">
                <div class="tile-text">
                    <span class="text-condensedLight">
                        {{ proveedores|length }}<br>
                        <small>Proveedores</small>
                    </span>
                </div>
                <i class="zmdi zmdi-truck tile-icon"></i>
            </a>
        </article>
        <article class="full-width tile">
            <a href="{% url 'productos'%}">
                <div class="tile-text">
                    <span class="text-condensedLight">
                        {{ productos|length }}<br>
                        <small>Productos</small>
                    </span>
                </div>
                <i class="zmdi zmdi-laptop tile-icon"></i>
            </a>
        </article>
        <article class="full-width tile">
            <a href="{% url 'ventas'%}">
                <div class="tile-text">
                    <span class="text-condensedLight">
                        {{ ventas|length }}<br>
                        <small>Ventas</small>
                    </span>
                </div>
                <i class="zmdi zmdi-shopping-cart tile-icon"></i>
            </a>
        </article>
        <article class="full-width tile">
            <div class="tile-text">
                <span class="text-condensedLight">
                    {{ categorias }}<br>
                    <small>Categorías</small>
                </span>
            </div>
            <i class="zmdi zmdi-label tile-icon"></i>
        </article>
        <article class="full-width tile">
            <a href="#!">
                <div class="tile-text">
                    <span class="text-condensedLight">
                        {{ facturas }}<br>
                        <small>Facturas</small>
                    </span>
                </div>
                <i class="zmdi zmdi-file-text tile-icon"></i>
            </a>
        </article>
    </section>
    <section class="full-width" style="margin: 30px 0;">
        <h3 class="text-center tittles">Grupo 2</h3>
        <!-- TimeLine -->
        <div id="timeline-c" class="timeline-c">
            <div class="timeline-c-box">
                <div class="timeline-c-box-icon bg-info">
                    <i class="zmdi zmdi-apple"></i>
                </div>
                <div class="timeline-c-box-content">
                    <h4 class="text-center text-condensedLight">Bryan Roberto Sajbochol Sosof</h4>
                    <p class="text-center">
                        1990-19-19722
                    </p>
                </div>
            </div>
            <div class="timeline-c-box">
                <div class="timeline-c-box-icon bg-danger">
                    <i class="zmdi zmdi-language-python"></i>
                </div>
                <div class="timeline-c-box-content">
                    <h4 class="text-center text-condensedLight">Cristian José González Flores</h4>
                    <p class="text-center">
                        1990-19-4881
                    </p>
                </div>
            </div>
            <div class="timeline-c-box">
                <div class="timeline-c-box-icon bg-success">
                    <i class="zmdi zmdi-network-off"></i>
                </div>
                <div class="timeline-c-box-content">
                    <h4 class="text-center text-condensedLight">Fredy Alexander Xalín Aguín</h4>
                    <p class="text-center">
                        1990-19-6184
                    </p>
                </div>
            </div>
            <div class="timeline-c-box">
                <div class="timeline-c-box-icon bg-img">
                    <i class="zmdi zmdi-github-alt"></i>
                </div>
                <div class="timeline-c-box-content">
                    <h4 class="text-center text-condensedLight">Leonardo Alberto Sontay Culpatán</h4>
                    <p class="text-center">
                        1990-19-2267
                    </p>
                </div>
            </div>
            <div class="timeline-c-box">
                <div class="timeline-c-box-icon ">
                    <i class="zmdi zmdi-youtube-play"></i>
                </div>
                <div class="timeline-c-box-content">
                    <h4 class="text-center text-condensedLight">Yandy José Lima Pérez</h4>
                    <p class="text-center">
                        1990-19-4906
                    </p>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}