{% extends 'TiendaEquipo/base.html' %}
{% load static %}

{% block title %} Inventario {% endblock %}

{% block contenido %}
<section class="full-width header-well">
    <div class="full-width header-well-icon">
        <i class="zmdi zmdi-store"></i>
    </div>
    <div class="full-width header-well-text">
        <p class="text-condensedLight">
            Seleccione un producto si desea modificar o eliminar datos.
        </p>
    </div>
</section>
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="full-width divider-menu-h"></div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
            <div class="full-width panel-tittle bg-success text-center tittles">
                Lista de Productos
            </div>
            <div class="table-responsive">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric"><center>No.</center></th>
                            <th class="mdl-data-table__cell--non-numeric"><center>Imagen</center></th>
                            <th class="mdl-data-table__cell--non-numeric"><center>Nombre</center></th>
                            <th class="mdl-data-table__cell--non-numeric"><center>Categoría</center></th>
                            <th class="mdl-data-table__cell--non-numeric"><center>Unidades</center></th>
                            <th class="mdl-data-table__cell--non-numeric"><center>Costo</center></th>
                            <th class="mdl-data-table__cell--non-numeric"><center>Precio</center></th>
                            <th class="mdl-data-table__cell--non-numeric"><center>Fecha de Ingreso</center></th>
                            <th class="mdl-data-table__cell--non-numeric">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric"><center>{{ forloop.counter }}</center></td>
                                <td class="mdl-data-table__cell--non-numeric">
                                    <center><img src="{{producto.foto_producto.url}}" class="image-product" alt="Avatar" style="width:40px;height:40px"></center>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric"><center>{{ producto.nombre_producto|title }}</center></td>
                                <td class="mdl-data-table__cell--non-numeric"><center>{{ producto.categoria|title }}</center></td>
                                <td class="mdl-data-table__cell--non-numeric"><center>{{ producto.unidades }}</center></td>
                                <td class="mdl-data-table__cell--non-numeric"><center>Q.{{ producto.precio_compra }}</center></td>
                                <td class="mdl-data-table__cell--non-numeric"><center>Q.{{ producto.precio_venta }}</center></td>
                                <td class="mdl-data-table__cell--non-numeric"><center>{{ producto.fecha_ingreso }}</center></td>
                                <td class="mdl-data-table__cell--non-numeric text-center">
                                    <a href="{% url 'modificar_producto' producto.id %}" class="menu-action">
                                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="{{ producto.nombre_producto }}">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                    </a>
                                    <div class="mdl-tooltip" for="{{ producto.nombre_producto }}">Editar Producto</div>
                                    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="{{ producto.id }}" onclick="eliminarProducto({{ producto.id }})">
                                        <i class="zmdi zmdi-delete"></i>
                                    </button>
                                    <div class="mdl-tooltip" for="{{ producto.id }}">Eliminar Producto</div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}