{% extends 'TiendaEquipo/base.html' %}
{% load static %}

{% block title %} Modificar Proveedor {% endblock %}

{% block javascript %}
<script src="{% static 'TiendaEquipo/js/textfield.js' %}"></script>
{% endblock %}

{% block contenido %}
<section class="full-width header-well">
    <div class="full-width header-well-icon">
        <i class="zmdi zmdi-truck"></i>
    </div>
    <div class="full-width header-well-text">
        <p class="text-condensedLight">
            Modificar Proveedor
        </p>
    </div>
</section>
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="full-width panel mdl-shadow--2dp">
                    <div class="full-width panel-tittle bg-primary text-center tittles">
                        Modificar Proveedor
                    </div>
                    <div class="full-width panel-content">
                        <form action="" method="POST">{% csrf_token %}
                            <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col">
                                    <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; Datos del Proveedor</legend><br>
                                </div>
                                {% for field in form %}
                                    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <label class="mdl-textfield__label">{{ field.label }}</label>
                                            {{ field }}              
                                        </div>
                                    </div>
                                {% endfor %}
                                <span>{{ field.errors }}</span>  
                            </div>
                            <p class="text-center">
                                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-addClient">
                                    <i class="zmdi zmdi-truck"></i>
                                </button>
                                <div class="mdl-tooltip" for="btn-addClient">Modificar Proveedor</div>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}