{% extends 'TiendaEquipo/base.html' %}
{% load static %}

{% block title %} Añadir Producto {% endblock %}

{% block javascript %}
<script src="{% static 'TiendaEquipo/js/textfield.js' %}"></script>
<script src="{% static 'TiendaEquipo/js/load_file.js' %}"></script>
{% endblock %}

{% block contenido %}
<section class="full-width header-well">
    <div class="full-width header-well-icon">
        <i class="zmdi zmdi-laptop"></i>
    </div>
    <div class="full-width header-well-text">
        <p class="text-condensedLight">
            Ingrese un nuevo producto
        </p>
    </div>
</section>
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="full-width panel mdl-shadow--2dp">
                <div class="full-width panel-tittle bg-primary text-center tittles">
                    Nuevo Producto
                </div>
                <div class="full-width panel-content">
                    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <div class="mdl-grid">
                           <div class="mdl-cell mdl-cell--12-col">
                                <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; Datos del Producto</legend><br>
                            </div>
                            {% for field in form %}
                                {% if field == form.foto_producto %}
                                    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet ">
                                        <div class="demo-card-image mdl-card mdl-shadow--2dp">
                                            <div class="mdl-card__title mdl-card--expand"><img id="image" style="width:175px;height:175px;" class="upload-image-product"></div>
                                            <div class="mdl-card__actions">
                                                <span class="text-condensedLight">Foto</span>
                                                <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file icon-position" >
                                                    <i class="zmdi zmdi-attachment-alt"></i>{{form.foto_producto}}      
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                {% else %}
                                    {% if field == form.categoria %}
                                        <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <label class="mdl-textfield__label"> Categoría </label>
                                                <br>
                                            </div>
                                            {{ form.categoria }} 
                                        </div>
                                    {% else %}
                                        {% if field == form.proveedor %}
                                            <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                    <label class="mdl-textfield__label">{{ form.proveedor.label }} </label>
                                                    <br>
                                                </div>
                                                {{ form.proveedor }}
                                            </div>
                                        {% else %}
                                            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                    <label class="mdl-textfield__label">{{ field.label }}</label>
                                                    {{ field }}          
                                                </div>
                                            </div>
                                        {% endif %} 
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <span>{{ form.errors }} </span>
                        </div>
                        <p class="text-center">
                            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-addClient">
                                <i class="zmdi zmdi-laptop"></i>
                            </button> 
                            <div class="mdl-tooltip" for="btn-addClient">Añadir Producto</div>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}