{% extends 'TiendaEquipo/base.html' %}
{% load static %}

{% block title %} Productos {% endblock %}

{% block javascript %}
<script src="{% static 'TiendaEquipo/js/textfield.js' %}"></script>
<script src="{% static 'TiendaEquipo/js/load_file.js' %}"></script>
{% endblock %}

{% block contenido %}
<div class="full-width panel-tittle bg-primary text-center tittles">
    Productos
</div>
<div class="mdl-tabs__panel" id="tabListProducts">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
            <form action="/busqueda-productos/" method="GET">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable text-center">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="searchProduct">
                        <i class="zmdi zmdi-search"></i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" name="prod" id="searchProduct">
                        <label class="mdl-textfield__label"></label>
                    </div>
                </div>
            </form>
            <div class="full-width text-center" style="padding: 30px 0;">
                {% for producto in productos %}
                <div class="mdl-card mdl-shadow--2dp full-width product-card">
                    <div class="mdl-card__title">
                        <img src="{{producto.foto_producto.url}}" alt="product" class="img-responsive">
                    </div>
                    <div class="mdl-card__supporting-text">
                        <small>Unidades: {{ producto.unidades }}</small><br>
                        <small>Precio: Q.{{ producto.precio_venta }}</small>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <div class="text-center">{{ producto.nombre_producto }}</div> 
                        <form action="/anadir-unidades/{{ producto.id}}/" method="GET">
                            <div class="mdl-cell mdl-cell--1-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label label-position units-label"  style="width: 130x;"> 
                                
                                <input type="number" name="cant" id="units" class="mdl-textfield__input">
                                <label class="mdl-textfield__label" for="units">Añadir Unidades</label>
                                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect icon-margin icon-position">
                                    <i class="zmdi zmdi-plus" id="btn-units"></i>
                                </button>
                              </div>
                             
                            </div>                           
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>             
{% endblock %}
