{% extends 'TiendaEquipo/base.html' %}
{% load static %}

{% block title %} Ventas {% endblock %}

{% block javascript %}
<script src="{% static 'TiendaEquipo/js/textfield.js' %}"></script>
{% endblock %}

{% block contenido %}
<section class="full-width header-well">
    <div class="full-width header-well-icon">
        <i class="zmdi zmdi-shopping-cart"></i>
    </div>
    <div class="full-width header-well-text">
        <p class="text-condensedLight">
            Control de Ventas
        </p>
    </div>
</section>
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#tabListSales" class="mdl-tabs__tab">Lista</a>
        <a href="#tabNewSale" class="mdl-tabs__tab is-active">Nueva</a>
    </div>
    <div class="mdl-tabs__panel" id="tabListSales">
    <div class="full-width divider-menu-h"></div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
                <div class="full-width panel-tittle bg-primary text-center tittles">
                    Lista de Ventas
                </div>
                <div class="table-responsive">
                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric text-center"><center>Número</center></th>
                                <th class="mdl-data-table__cell--non-numeric text-center"><center>Fecha</center></th>
                                <th class="mdl-data-table__cell--non-numeric text-center"><center>Cliente</center></th>
                                <th class="mdl-data-table__cell--non-numeric text-center"><center>Producto</center></th>
                                <th class="mdl-data-table__cell--non-numeric text-center"><center>Pago</center></th>
                                <th class="mdl-data-table__cell--non-numeric text-center"><center>Total</center></th>
                                <th class="mdl-data-table__cell--non-numeric text-center">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for venta in ventas %}
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric"><center>{{ venta.numeroVenta }}</center></td>
                                    <td class="mdl-data-table__cell--non-numeric text-center"><center>{{ venta.fecha }}</center></td>
                                    <td class="mdl-data-table__cell--non-numeric text-center"><center>{{ venta.cliente }}</center></td>
                                    <td class="mdl-data-table__cell--non-numeric text-center"><center>{{ venta.producto }}</center></td>
                                    <td class="mdl-data-table__cell--non-numeric text-center"><center>{{ venta.pago|title }}</center></td>
                                    <td class="mdl-data-table__cell--non-numeric text-center"><center>Q.{{ venta.total }}</center></td>
                                    <td class="mdl-data-table__cell--non-numeric text-center">
                                        <a href="{% url 'factura' venta.id %}" class="menu-action">
                                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="btn-invoice">
                                                <i class="zmdi zmdi-file-text"></i>
                                            </button>
                                        </a>
                                        <div class="mdl-tooltip" for="btn-invoice">Generar Factura</div>
                                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="btn-delete" onclick="eliminarVenta({{ venta.id }})">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                        <div class="mdl-tooltip" for="btn-delete">Eliminar Venta</div>
                                    </td>
                                </tr>          
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>    
    </div>  
    <div class="mdl-tabs__panel is-active" id="tabNewSale">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="full-width panel mdl-shadow--2dp">
                    <div class="full-width panel-tittle bg-primary text-center tittles">
                        Nueva Venta
                    </div>
                    <div class="full-width panel-content">
                        <form action="" method="POST">{% csrf_token %}
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col">
                                    <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; Datos de Venta</legend><br>
                                </div>
                                <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <label class="mdl-textfield__label" for="NameProduct">{{ form.numeroVenta.label }}</label>
                                        {{ form.numeroVenta }}
                                        <span>{{ form.numeroVenta.errors}}</span>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <label class="mdl-textfield__label" for="StrockProduct">{{ form.cantidad.label }}</label>
                                        {{ form.cantidad }}
                                        <span>{{ form.cantidad.errors }}</span>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <label class="mdl-textfield__label" for="discountProduct">{{ form.pago.label }}</label><br>
                                    </div>
                                    {{ form.pago }}
                                    <span>{{ form.pago.errors }}</span>	
                                </div>
                                <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <label class="mdl-textfield__label" for="PriceProduct">{{ form.producto.label }}</label><br> 
                                    </div>
                                    {{ form.producto }}
                                    <span>{{ form.producto.errors }}</span>
                                </div>
                                <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <label class="mdl-textfield__label" for="discountProduct">{{ form.cliente.label }} </label><br>
                                    </div>
                                    {{ form.cliente }}
                                    <span>{{ form.cliente.errors }}</span> 
                                </div>
                                <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
                                    <p class="text-center"><br>
                                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-addSale">
                                            <i class="zmdi zmdi-shopping-cart"></i>
                                        </button>
                                        <div class="mdl-tooltip" for="btn-addSale">Añadir Venta</div>
                                    </p>
                                </div>
                                <p class="text-condensedLight">{{ mensaje }}</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}