.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
  }
  .mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
  }
  .text_v {
    float: right;
  }
  .demo-card-image.mdl-card {
    width: 256px;
    height: 256px;
  }
  .demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: #9e9e9e;
  }
  .mdl-card__actions .text-condensedLight {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
  }